@charset "UTF-8";
@import url("//hello.myfonts.net/count/303803");
/* line 50, ../styles/helpers/_variables.scss */
.iconic--elephant {
  font-size: 16px;
}

/* line 54, ../styles/helpers/_variables.scss */
.iconic--mail {
  font-size: 13px;
}

/* line 58, ../styles/helpers/_variables.scss */
.iconic--bookmark {
  font-size: 21px;
}

/* line 62, ../styles/helpers/_variables.scss */
.iconic--search {
  font-size: 18px;
}

/* line 66, ../styles/helpers/_variables.scss */
.iconic--calendar {
  font-size: 12px;
}

/* line 70, ../styles/helpers/_variables.scss */
.iconic--pin {
  font-size: 12px;
}

/* line 74, ../styles/helpers/_variables.scss */
.iconic--star {
  font-size: 15px;
}

/* line 4, ../styles/helpers/_helpers.sass */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

/* line 9, ../styles/helpers/_helpers.sass */
.cf:after {
  clear: both;
}

/* line 12, ../styles/helpers/_helpers.sass */
.fz {
  font-size: 0;
}

@font-face {
  font-family: 'LifehackItalic-Regular';
  src: url("../fonts/lifehack/lifehack.eot");
  src: url("../fonts/lifehack/lifehack.eot?#iefix") format("embedded-opentype"), url("../fonts/lifehack/lifehack.woff2") format("woff2"), url("../fonts/lifehack/lifehack.woff") format("woff"), url("../fonts/lifehack/lifehack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyrblack';
  src: url("../fonts/helvetica/helveticaneuecyr-black-webfont.eot");
  src: url("../fonts/helvetica/helveticaneuecyr-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/helveticaneuecyr-black-webfont.woff2") format("woff2"), url("../fonts/helvetica/helveticaneuecyr-black-webfont.woff") format("woff"), url("../fonts/helvetica/helveticaneuecyr-black-webfont.ttf") format("truetype"), url("../fonts/helvetica/helveticaneuecyr-black-webfont.svg#helveticaneuecyrblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyrblack_italic';
  src: url("../fonts/helvetica/helveticaneuecyr-blackitalic-webfont.eot");
  src: url("../fonts/helvetica/helveticaneuecyr-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/helveticaneuecyr-blackitalic-webfont.woff2") format("woff2"), url("../fonts/helvetica/helveticaneuecyr-blackitalic-webfont.woff") format("woff"), url("../fonts/helvetica/helveticaneuecyr-blackitalic-webfont.ttf") format("truetype"), url("../fonts/helvetica/helveticaneuecyr-blackitalic-webfont.svg#helveticaneuecyrblack_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyrbold';
  src: url("../fonts/helvetica/helveticaneuecyr-bold-webfont.eot");
  src: url("../fonts/helvetica/helveticaneuecyr-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/helveticaneuecyr-bold-webfont.woff2") format("woff2"), url("../fonts/helvetica/helveticaneuecyr-bold-webfont.woff") format("woff"), url("../fonts/helvetica/helveticaneuecyr-bold-webfont.ttf") format("truetype"), url("../fonts/helvetica/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyrbold_italic';
  src: url("../fonts/helvetica/helveticaneuecyr-bolditalic-webfont.eot");
  src: url("../fonts/helvetica/helveticaneuecyr-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/helveticaneuecyr-bolditalic-webfont.woff2") format("woff2"), url("../fonts/helvetica/helveticaneuecyr-bolditalic-webfont.woff") format("woff"), url("../fonts/helvetica/helveticaneuecyr-bolditalic-webfont.ttf") format("truetype"), url("../fonts/helvetica/helveticaneuecyr-bolditalic-webfont.svg#helveticaneuecyrbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyritalic';
  src: url("../fonts/helvetica/helveticaneuecyr-italic-webfont.eot");
  src: url("../fonts/helvetica/helveticaneuecyr-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/helveticaneuecyr-italic-webfont.woff2") format("woff2"), url("../fonts/helvetica/helveticaneuecyr-italic-webfont.woff") format("woff"), url("../fonts/helvetica/helveticaneuecyr-italic-webfont.ttf") format("truetype"), url("../fonts/helvetica/helveticaneuecyr-italic-webfont.svg#helveticaneuecyritalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyrlight';
  src: url("../fonts/helvetica/helveticaneuecyr-light-webfont.eot");
  src: url("../fonts/helvetica/helveticaneuecyr-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/helveticaneuecyr-light-webfont.woff2") format("woff2"), url("../fonts/helvetica/helveticaneuecyr-light-webfont.woff") format("woff"), url("../fonts/helvetica/helveticaneuecyr-light-webfont.ttf") format("truetype"), url("../fonts/helvetica/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyrlight_italic';
  src: url("../fonts/helvetica/helveticaneuecyr-lightitalic-webfont.eot");
  src: url("../fonts/helvetica/helveticaneuecyr-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/helveticaneuecyr-lightitalic-webfont.woff2") format("woff2"), url("../fonts/helvetica/helveticaneuecyr-lightitalic-webfont.woff") format("woff"), url("../fonts/helvetica/helveticaneuecyr-lightitalic-webfont.ttf") format("truetype"), url("../fonts/helvetica/helveticaneuecyr-lightitalic-webfont.svg#helveticaneuecyrlight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyrmedium';
  src: url("../fonts/helvetica/helveticaneuecyr-medium-webfont.eot");
  src: url("../fonts/helvetica/helveticaneuecyr-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/helveticaneuecyr-medium-webfont.woff2") format("woff2"), url("../fonts/helvetica/helveticaneuecyr-medium-webfont.woff") format("woff"), url("../fonts/helvetica/helveticaneuecyr-medium-webfont.ttf") format("truetype"), url("../fonts/helvetica/helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyrroman';
  src: url("../fonts/helvetica/helveticaneuecyr-roman-webfont.eot");
  src: url("../fonts/helvetica/helveticaneuecyr-roman-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/helveticaneuecyr-roman-webfont.woff2") format("woff2"), url("../fonts/helvetica/helveticaneuecyr-roman-webfont.woff") format("woff"), url("../fonts/helvetica/helveticaneuecyr-roman-webfont.ttf") format("truetype"), url("../fonts/helvetica/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "iconic";
  src: url("../fonts/iconic.eot");
  src: url("../fonts/iconic.eot?#iefix") format("eot"), url("../fonts/iconic.woff") format("woff"), url("../fonts/iconic.ttf") format("truetype"), url("../fonts/iconic.svg#iconic") format("svg");
}
/* line 24, ../styles/components/svg-fonts/_iconfont.scss */
.iconic {
  font-family: "iconic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  color: #000;
}

/* line 72, ../styles/components/svg-fonts/_iconfont.scss */
.iconic--arrow-left:after {
  content: "";
}

/* line 72, ../styles/components/svg-fonts/_iconfont.scss */
.iconic--arrow-right:after {
  content: "";
}

/* line 72, ../styles/components/svg-fonts/_iconfont.scss */
.iconic--bookmark:after {
  content: "";
}

/* line 72, ../styles/components/svg-fonts/_iconfont.scss */
.iconic--calendar:after {
  content: "";
}

/* line 72, ../styles/components/svg-fonts/_iconfont.scss */
.iconic--cross:after {
  content: "";
}

/* line 72, ../styles/components/svg-fonts/_iconfont.scss */
.iconic--elephant:after {
  content: "";
}

/* line 72, ../styles/components/svg-fonts/_iconfont.scss */
.iconic--favorite:after {
  content: "";
}

/* line 72, ../styles/components/svg-fonts/_iconfont.scss */
.iconic--mail:after {
  content: "";
}

/* line 72, ../styles/components/svg-fonts/_iconfont.scss */
.iconic--pin:after {
  content: "";
}

/* line 72, ../styles/components/svg-fonts/_iconfont.scss */
.iconic--search:after {
  content: "";
}

/* line 72, ../styles/components/svg-fonts/_iconfont.scss */
.iconic--star:after {
  content: "";
}

/* line 72, ../styles/components/svg-fonts/_iconfont.scss */
.iconic--target:after {
  content: "";
}

/* line 4, ../styles/components/_base.sass */
*,
*:after,
*:before {
  box-sizing: border-box;
}

/* line 9, ../styles/components/_base.sass */
::-moz-selection {
  background: red;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: red;
  color: #fff;
  text-shadow: none;
}

/* line 14, ../styles/components/_base.sass */
::-webkit-scrollbar-track {
  background: transparent;
}

/* line 17, ../styles/components/_base.sass */
::-webkit-scrollbar {
  width: 12px;
}

/* line 20, ../styles/components/_base.sass */
::-webkit-scrollbar-thumb {
  background-color: red;
  cursor: pointer;
}

/* line 25, ../styles/components/_base.sass */
html,
body {
  height: 100%;
  min-width: 320px;
}

/* line 30, ../styles/components/_base.sass */
INPUT,
BUTTON,
TEXTAREA {
  outline: none;
}
/* line 35, ../styles/components/_base.sass */
INPUT:focus,
BUTTON:focus,
TEXTAREA:focus {
  outline: none;
}

@media only screen and (max-width: 1287px) {
  /* line 40, ../styles/components/_base.sass */
  .wrapper {
    width: 1248px;
  }
}
@media only screen and (max-width: 1288px) {
  /* line 45, ../styles/components/_base.sass */
  .wrapper {
    width: 725px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 51, ../styles/components/_base.sass */
  .wrapper {
    width: 448px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 56, ../styles/components/_base.sass */
  .wrapper {
    width: 290px;
  }
}
/* line 4, ../styles/components/_icons.sass */
.icon {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
}
/* line 11, ../styles/components/_icons.sass */
.icon + A {
  display: inline-block;
  vertical-align: middle;
}
/* line 15, ../styles/components/_icons.sass */
.icon-greenmarker {
  width: 18px;
  height: 22px;
  margin: 0;
}

/* line 22, ../styles/components/_icons.sass */
.lh, .logo__text {
  -webkit-font-feature-settings: "kern", "liga" off, "calt" off !important;
  font-feature-settings: "kern", "liga" off, "calt" off !important;
  text-rendering: optimizeLegibility;
}

/* line 1, ../styles/components/_buttons.sass */
.btn {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: none;
  background: transparent;
  margin: 0;
  outline: 0;
  white-space: nowrap;
  text-decoration: none;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 150ms;
          transition: 150ms;
  font-size: 13px;
  padding: 10px 26px 12px 26px;
  border-radius: 25px;
}
/* line 20, ../styles/components/_buttons.sass */
.btn > SPAN {
  border-bottom: 1px solid transparent;
  padding: 0 0 2px 0;
  -webkit-transition: border-color 300ms;
          transition: border-color 300ms;
}
/* line 26, ../styles/components/_buttons.sass */
.btn:hover > SPAN {
  border-color: transparent;
}

/* line 1, ../styles/components/_links.sass */
.subscribe-link {
  text-align: left;
  display: inline-block;
  position: relative;
}
/* line 5, ../styles/components/_links.sass */
.subscribe-link .icon {
  color: #696969;
  position: absolute;
  left: -35px;
  top: 0;
}
/* line 11, ../styles/components/_links.sass */
.subscribe-link__text {
  font: 14px/1 "helveticaneuecyrroman";
}

/* line 14, ../styles/components/_links.sass */
.bookmark-link {
  text-align: left;
  display: inline-block;
  position: relative;
}
/* line 18, ../styles/components/_links.sass */
.bookmark-link .icon {
  vertical-align: middle;
  right: 10px;
  color: #19d997;
}

/* line 23, ../styles/components/_links.sass */
.link {
  text-decoration: none;
}
/* line 26, ../styles/components/_links.sass */
.link:hover {
  border-color: transparent;
}
/* line 29, ../styles/components/_links.sass */
.link--green {
  color: #088e60;
  border-bottom: 1px dotted #b2b2b2;
}
/* line 32, ../styles/components/_links.sass */
.link--green:hover {
  border-color: transparent;
}

/* line 1, ../styles/pages/partials/_header.sass */
.header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 86px;
}
/* line 9, ../styles/pages/partials/_header.sass */
.header-top__item--center {
  text-align: center;
}
/* line 11, ../styles/pages/partials/_header.sass */
.header-top__item--right {
  text-align: right;
}

/* line 14, ../styles/pages/partials/_header.sass */
.logo {
  text-decoration: none;
}
/* line 17, ../styles/pages/partials/_header.sass */
.logo__text {
  font: 35px/1.3 "LifehackItalic-Regular";
  color: #000;
}

/* line 22, ../styles/pages/partials/_header.sass */
.logo-question {
  text-align: center;
  margin-bottom: -10px;
}
/* line 26, ../styles/pages/partials/_header.sass */
.logo-question__text {
  font: 11px/1.2 "helveticaneuecyrroman";
  color: #a2a2a2;
  display: inline-block;
  vertical-align: bottom;
}
/* line 32, ../styles/pages/partials/_header.sass */
.logo-question .icon {
  color: #a2a2a2;
}

/* line 35, ../styles/pages/partials/_header.sass */
.header-login {
  display: inline-block;
}
/* line 38, ../styles/pages/partials/_header.sass */
.header-login__link {
  text-decoration: none;
  border-bottom: 1px dotted #b2b2b2;
  font: 14px/1.2 "helveticaneuecyrmedium";
  color: #333;
}
/* line 43, ../styles/pages/partials/_header.sass */
.header-login__link:hover {
  border-color: transparent;
}
/* line 46, ../styles/pages/partials/_header.sass */
.header-login__sep {
  display: inline-block;
  font: 14px/1.2 "helveticaneuecyrmedium";
  color: #333;
  margin: 0 2px;
}

/* line 1, ../styles/pages/_index.sass */
.wr {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  position: relative;
}
