@charset "UTF-8";
@font-face {
    font-family: "iconic";
    src: url('../fonts/iconic.eot');
    src: url('../fonts/iconic.eot?#iefix') format('eot'),
    url('../fonts/iconic.woff') format('woff'),
    url('../fonts/iconic.ttf') format('truetype'),
    url('../fonts/iconic.svg#iconic') format('svg');
}

@mixin iconic-styles {
    font-family: "iconic";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
    color: #000;
}

.iconic {
    @include iconic-styles;
}

@function iconic-char($filename) {
    $char: "";

    @if $filename == arrow-left {
    $char: "\E001";
}
    @if $filename == arrow-right {
    $char: "\E002";
}
    @if $filename == bookmark {
    $char: "\E003";
}
    @if $filename == calendar {
    $char: "\E004";
}
    @if $filename == cross {
    $char: "\E005";
}
    @if $filename == elephant {
    $char: "\E006";
}
    @if $filename == favorite {
    $char: "\E007";
}
    @if $filename == mail {
    $char: "\E008";
}
    @if $filename == pin {
    $char: "\E009";
}
    @if $filename == search {
    $char: "\E00A";
}
    @if $filename == star {
    $char: "\E00B";
}
    @if $filename == target {
    $char: "\E00C";
}

@return $char;
}

@mixin iconic($filename, $insert: after, $extend: true) {
&:#{$insert} {

    content: iconic-char($filename);
}
}

.iconic--arrow-left {
    @include iconic(arrow-left);
}
.iconic--arrow-right {
    @include iconic(arrow-right);
}
.iconic--bookmark {
    @include iconic(bookmark);
}
.iconic--calendar {
    @include iconic(calendar);
}
.iconic--cross {
    @include iconic(cross);
}
.iconic--elephant {
    @include iconic(elephant);
}
.iconic--favorite {
    @include iconic(favorite);
}
.iconic--mail {
    @include iconic(mail);
}
.iconic--pin {
    @include iconic(pin);
}
.iconic--search {
    @include iconic(search);
}
.iconic--star {
    @include iconic(star);
}
.iconic--target {
    @include iconic(target);
}