@charset "UTF-8";
@font-face {
    font-family: "iconic";
    src: url('../fonts/iconic.eot');
    src: url('../fonts/iconic.eot?#iefix') format('eot'),
    url('../fonts/iconic.woff') format('woff'),
    url('../fonts/iconic.ttf') format('truetype'),
    url('../fonts/iconic.svg#iconic') format('svg');
}

@mixin iconic-styles {
    font-family: "iconic";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
    color: #000;
}

.iconic {
    @include iconic-styles;
}

@function iconic-char($filename) {
    $char: "";

    @if $filename == arr-l-light {
    $char: "\E001";
}
    @if $filename == arr-r-light {
    $char: "\E002";
}
    @if $filename == arrow-down {
    $char: "\E003";
}
    @if $filename == arrow-left {
    $char: "\E004";
}
    @if $filename == arrow-right {
    $char: "\E005";
}
    @if $filename == arrow-up {
    $char: "\E006";
}
    @if $filename == attraction {
    $char: "\E007";
}
    @if $filename == bookmark {
    $char: "\E008";
}
    @if $filename == bug {
    $char: "\E009";
}
    @if $filename == calendar {
    $char: "\E00A";
}
    @if $filename == chevron2-r {
    $char: "\E00B";
}
    @if $filename == closed-eye {
    $char: "\E00C";
}
    @if $filename == coctail {
    $char: "\E00D";
}
    @if $filename == cross {
    $char: "\E00E";
}
    @if $filename == elephant {
    $char: "\E00F";
}
    @if $filename == eye {
    $char: "\E010";
}
    @if $filename == favorite {
    $char: "\E011";
}
    @if $filename == grid {
    $char: "\E012";
}
    @if $filename == lion {
    $char: "\E013";
}
    @if $filename == mail--old {
    $char: "\E014";
}
    @if $filename == mail {
    $char: "\E015";
}
    @if $filename == person {
    $char: "\E016";
}
    @if $filename == pin {
    $char: "\E017";
}
    @if $filename == placemark {
    $char: "\E018";
}
    @if $filename == plus {
    $char: "\E019";
}
    @if $filename == search {
    $char: "\E01A";
}
    @if $filename == soc-fb {
    $char: "\E01B";
}
    @if $filename == soc-gplus {
    $char: "\E01C";
}
    @if $filename == soc-mail {
    $char: "\E01D";
}
    @if $filename == soc-tw {
    $char: "\E01E";
}
    @if $filename == soc-vk-v {
    $char: "\E01F";
}
    @if $filename == soc-vk {
    $char: "\E020";
}
    @if $filename == star {
    $char: "\E021";
}
    @if $filename == target {
    $char: "\E022";
}
    @if $filename == tick {
    $char: "\E023";
}

@return $char;
}

@mixin iconic($filename, $insert: after, $extend: true) {
&:#{$insert} {

    content: iconic-char($filename);
}
}

.iconic--arr-l-light {
    @include iconic(arr-l-light);
}
.iconic--arr-r-light {
    @include iconic(arr-r-light);
}
.iconic--arrow-down {
    @include iconic(arrow-down);
}
.iconic--arrow-left {
    @include iconic(arrow-left);
}
.iconic--arrow-right {
    @include iconic(arrow-right);
}
.iconic--arrow-up {
    @include iconic(arrow-up);
}
.iconic--attraction {
    @include iconic(attraction);
}
.iconic--bookmark {
    @include iconic(bookmark);
}
.iconic--bug {
    @include iconic(bug);
}
.iconic--calendar {
    @include iconic(calendar);
}
.iconic--chevron2-r {
    @include iconic(chevron2-r);
}
.iconic--closed-eye {
    @include iconic(closed-eye);
}
.iconic--coctail {
    @include iconic(coctail);
}
.iconic--cross {
    @include iconic(cross);
}
.iconic--elephant {
    @include iconic(elephant);
}
.iconic--eye {
    @include iconic(eye);
}
.iconic--favorite {
    @include iconic(favorite);
}
.iconic--grid {
    @include iconic(grid);
}
.iconic--lion {
    @include iconic(lion);
}
.iconic--mail--old {
    @include iconic(mail--old);
}
.iconic--mail {
    @include iconic(mail);
}
.iconic--person {
    @include iconic(person);
}
.iconic--pin {
    @include iconic(pin);
}
.iconic--placemark {
    @include iconic(placemark);
}
.iconic--plus {
    @include iconic(plus);
}
.iconic--search {
    @include iconic(search);
}
.iconic--soc-fb {
    @include iconic(soc-fb);
}
.iconic--soc-gplus {
    @include iconic(soc-gplus);
}
.iconic--soc-mail {
    @include iconic(soc-mail);
}
.iconic--soc-tw {
    @include iconic(soc-tw);
}
.iconic--soc-vk-v {
    @include iconic(soc-vk-v);
}
.iconic--soc-vk {
    @include iconic(soc-vk);
}
.iconic--star {
    @include iconic(star);
}
.iconic--target {
    @include iconic(target);
}
.iconic--tick {
    @include iconic(tick);
}