@charset "UTF-8";
@font-face {
    font-family: "iconic";
    src: url('../fonts/iconic.eot');
    src: url('../fonts/iconic.eot?#iefix') format('eot'),
    url('../fonts/iconic.woff') format('woff'),
    url('../fonts/iconic.ttf') format('truetype'),
    url('../fonts/iconic.svg#iconic') format('svg');
}

@mixin iconic-styles {
    font-family: "iconic";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
    color: #000;
}

.iconic {
    @include iconic-styles;
}

@function iconic-char($filename) {
    $char: "";

    @if $filename == arr-l-light {
    $char: "\E001";
}
    @if $filename == arr-r-light {
    $char: "\E002";
}
    @if $filename == arrow-left {
    $char: "\E003";
}
    @if $filename == arrow-right {
    $char: "\E004";
}
    @if $filename == attraction {
    $char: "\E005";
}
    @if $filename == bookmark {
    $char: "\E006";
}
    @if $filename == calendar {
    $char: "\E007";
}
    @if $filename == coctail {
    $char: "\E008";
}
    @if $filename == cross {
    $char: "\E009";
}
    @if $filename == elephant {
    $char: "\E00A";
}
    @if $filename == favorite {
    $char: "\E00B";
}
    @if $filename == fb {
    $char: "\E00C";
}
    @if $filename == lion {
    $char: "\E00D";
}
    @if $filename == mail--old {
    $char: "\E00E";
}
    @if $filename == mail {
    $char: "\E00F";
}
    @if $filename == pin {
    $char: "\E010";
}
    @if $filename == search {
    $char: "\E011";
}
    @if $filename == star {
    $char: "\E012";
}
    @if $filename == target {
    $char: "\E013";
}
    @if $filename == tw {
    $char: "\E014";
}
    @if $filename == vk-v {
    $char: "\E015";
}
    @if $filename == vk {
    $char: "\E016";
}

@return $char;
}

@mixin iconic($filename, $insert: after, $extend: true) {
&:#{$insert} {

    content: iconic-char($filename);
}
}

.iconic--arr-l-light {
    @include iconic(arr-l-light);
}
.iconic--arr-r-light {
    @include iconic(arr-r-light);
}
.iconic--arrow-left {
    @include iconic(arrow-left);
}
.iconic--arrow-right {
    @include iconic(arrow-right);
}
.iconic--attraction {
    @include iconic(attraction);
}
.iconic--bookmark {
    @include iconic(bookmark);
}
.iconic--calendar {
    @include iconic(calendar);
}
.iconic--coctail {
    @include iconic(coctail);
}
.iconic--cross {
    @include iconic(cross);
}
.iconic--elephant {
    @include iconic(elephant);
}
.iconic--favorite {
    @include iconic(favorite);
}
.iconic--fb {
    @include iconic(fb);
}
.iconic--lion {
    @include iconic(lion);
}
.iconic--mail--old {
    @include iconic(mail--old);
}
.iconic--mail {
    @include iconic(mail);
}
.iconic--pin {
    @include iconic(pin);
}
.iconic--search {
    @include iconic(search);
}
.iconic--star {
    @include iconic(star);
}
.iconic--target {
    @include iconic(target);
}
.iconic--tw {
    @include iconic(tw);
}
.iconic--vk-v {
    @include iconic(vk-v);
}
.iconic--vk {
    @include iconic(vk);
}