@import svg-fonts/iconfont
@import icons
@import buttons
@import links
@import typography

@import formElements
@import formLayout
@import popups

@import blocks/_blocks


.tooltip
    position: absolute

    margin: 10px
    background-color: #fff
    border: 1px solid #dcdcdc
    border-radius: 4px
    color: #000
    font-size: 13px
    line-height: normal

    padding: 8px 12px

    &:after, &:before
        content: ''
        position: absolute
        border-style: solid
        border-color: transparent

    &:after
        border-width: 5px
    &:before
        border-width: 6px

    &--right
        left: 100%


        &:before,
        &:after
            right:  100%
            //margin-right: -1px

        &:after
            border-color: transparent #fff transparent transparent

        &:before
            border-color: transparent #dcdcdc transparent transparent

    &--left
        right: 100%

    &--vcenter
        top: 50%
        transform: translateY(-50%)
        margin-top: 0
        margin-bottom: 0
        &:before,
        &:after
            top: 50%
        &:after
            margin-top: -5px
        &:before
            margin-top: -6px


.filter-tags
    margin: 15px -1.5px

.filter-tag
    margin: 5px 1.5px
    display: inline-block
    vertical-align: top
    color: $cBlack
    font-size: 14px
    font-weight: 300
    line-height: 24px
    padding: 1px 30px 1px 9px
    background-color: $cLime
    border: 1px solid #cfe578
    border-radius: 4px
    position: relative

    &__cross
        @extend .iconic
        @extend .iconic--cross
        color: #b2b97b
        position: absolute
        top: 0
        bottom: 0
        right: 0
        width: 26px
        line-height: 26px
        font-size: 12px
        text-align: center
        cursor: pointer
        transition: $t300
        &:hover
            color: $cBlack


// todo
// map

.eventsCluster
    text-align: center
    color: #fff
    line-height: 44px
    font-weight: bold
    //background-color: $cGreen



