.btn
	display: inline-block
	box-sizing: border-box
	vertical-align: middle
	text-align: center
	cursor: pointer
	border: none
	background: transparent
	margin: 0
	outline: 0
	white-space: nowrap
	text-decoration: none
	position: relative
	user-select: none
	transition: $t150

	.h2 &
		margin-bottom: 10px

	.iconic
		font-size: inherit
		vertical-align: middle
		color: inherit

	&--white
		border: 1px solid #dcdcdc
		border-radius: 4px
		padding: 12px 25px
		color: #000
		font: 14px/1 $baseFont


		.iconic
			&--target
				color: $cGreen



	&--green
		font: 300 20px/1 $baseFont
		color: #fff
		background: $cGreen
		border-radius: 4px
		padding: 12px 25px

		&:hover
			background: $cGreen-d

	&--dark
		font: bold 14px/1 $baseFont
		color: $cGreen
		border: 1px solid #4a4a4a
		padding: 16px 18px 14px
		border-radius: 25px

		&:hover
			border-color: #fff
			color: $cGreen-d
			background: #fff

	&--light
		font: bold 14px/1 $baseFont
		color: $cBlack-d
		border: 1px solid #fff
		padding: 16px 18px 14px
		border-radius: 25px

		&:hover
			border-color: #fff
			color: $cGreen-d
			background: #fff

	&--dark-fix
		margin: -15px 0 0 -18px

	&--padd
		padding: 16px 30px 14px

	&--upper
		text-transform: uppercase

	&--icon
		padding-left: 10px
		.icon, .iconic
			vertical-align: middle
			margin-right: 10px
			line-height: 1

		.iconic--target
			font-size: 26px


	&--fix-h
		height: 44px
		line-height: 44px
		padding-top: 0
		padding-bottom: 0

	&--arr
		padding-left: 55px
		padding-right: 55px
		.iconic
			&--arr-r-light
				margin: 0 -40px 0 35px

	&--md
		font-size: 15px
		padding: 10px 20px

.btn-flex-wr
	display: flex
	.btn
		flex-shrink: 0
		flex-grow: 0

	.form-tip
		padding-left: 13px
