// ----------------------------------------------------------------------
// Icons
// ----------------------------------------------------------------------
.icon
	position: relative
	margin: 0 auto
	font-style: normal
	@extend .iconic
	transition: $t150

.iconic, .icon
	display: inline-block
	vertical-align: middle
	transition: $t150

.icon--lk-out
	width: 20px
	height: 17px
	display: block
	background: url('../images/lk-out-ico.png') no-repeat 50% 50%

.icon--lk-set
	width: 19px
	height: 20px
	display: block
	background: url('../images/lk-set-ico.png') no-repeat 50% 50%


// Добавляет у шрифта хвосты
.lh
	-webkit-font-feature-settings: "kern", "liga" off, "calt" off!important
	font-feature-settings: "kern", "liga" off, "calt" off!important
	text-rendering: optimizeLegibility