// ----------------------------------------------------------------------
// Icons
// ----------------------------------------------------------------------
.icon
	position: relative
	margin: 0 auto
	font-style: normal
	@extend .iconic
	transition: $t150

.iconic, .icon
	display: inline-block
	vertical-align: middle
	transition: $t150

// Добавляет у шрифта хвосты
.lh
	-webkit-font-feature-settings: "kern", "liga" off, "calt" off!important
	font-feature-settings: "kern", "liga" off, "calt" off!important
	text-rendering: optimizeLegibility