.subscribe-link
	text-align: left
	display: inline-block
	position: relative
	.icon
		color: #696969
		position: absolute
		left: -35px
		top: 0

	&__text
		font: 14px/1 $hn

.bookmark-link
	text-align: left
	display: inline-block
	position: relative
	.icon
		vertical-align: middle
		right: 10px
		color: $cGreen-icon

.link
	text-decoration: none

	&:hover
		border-color: transparent

	&--green
		color: $cGreen-text
		border-bottom: 1px dotted #b2b2b2
		&:hover
			border-color: transparent
