h1,h2,h3,h4,h5,h6
	margin: 0



.h2
	font: 66px/1.3 $ffLh
	margin-bottom: 35px
	text-align: center
	@extend .lh

	+max-screen($screenMM)
		font-size: 56px

	+max-screen($screenXS)
		font-size: 40px

.h2-inner
	font: 24px/1.2 $ffNarrow
	margin-bottom: 15px

	SUP
		font-size: 60%
		white-space: nowrap

.h2-bold
	font: 700 40px/1.2 $ffNarrow
	margin-bottom: 20px
	text-transform: uppercase

	+max-screen($screenSS)
		font-size: 32px

.h3-bold
	font: 700 30px/1.2 $baseFont
	margin-bottom: 15px

	SUP
		font-weight: 500
		font-size: 14px
		left: -4px
		top: -0.6em

.h3-bold-narrow
	font: 700 32px/1.2 $ffNarrow
	margin: 0 0 17px
	text-transform: uppercase

	+max-screen($screenSS)
		font-size: 24px


.h4-bold
	font: 700 20px/1.2 $baseFont
	margin-bottom: 15px

	SUP
		font-weight: 500
		font-size: 14px
		left: -4px
		top: -0.6em

	+max-screen($screenSS)
		font-size: 24px

.h3
	font: 900 20px/1.2 $baseFont
	margin-bottom: 25px

.h3-narrow
	font: 24px/1.2 $ffNarrow
	margin-bottom: 15px

.h4
	font: 900 15px/1.2 $baseFont
	margin-bottom: 15px
	text-transform: uppercase



.text

	&--big
		font: 300 20px/1.3 $baseFont

	&--big-b
		font: 700 20px/1.3 $baseFont
		+max-screen($screenSS)
			font-size: 18px

	&--center
		text-align: center

	&--sm
		font: 300 13px/1.3 $baseFont

	&--gray
		color: #7b7b7b

	&--red
		color: $cRed


.typography
	/* todo no rdy */

	h2
		@extend .h2

	h3
		@extend .h3

	h4
		@extend .h4