.catalog-page
	background-color: $cGray


.catalog-wr
	position: relative
	//overflow: hidden
	z-index: 1

	&__bg-img
		position: absolute

		z-index: 10

		&--left
			right: 50%
			top: 55px
			margin-right: ($maxW/2)

		&--right
			left: 50%
			top: 30px
			margin-left: ($maxW/2)


// ----------------------------------------------------------------------
// catalog
// ----------------------------------------------------------------------

.catalog



	&__footer
		text-align: center
		margin: 20px 0


// ----------------------------------------------------------------------
// Filter
// ----------------------------------------------------------------------
$filter_h: 82px

.filter
	position: relative

	&__bottom
		+max-screen($screenM)
			padding-bottom: 43px

	+max-screen($screenM)
		margin-bottom: 15px

.filter-main
	background-color: #fff
	border: 1px solid #e6e6e6

	.wr
		height: $filter_h
		display: flex
		justify-content: space-between
		align-items: center
		position: static
		padding-top: 15px
		padding-bottom: 15px


	&__info
		width: 25%
		padding: 10px
		flex-shrink: 0
		font-size: 14px
		line-height: 24px
		color: #999
		text-align: center

	&__sort-gr
		flex-shrink: 0

		+max-screen($screenM)
			position: absolute
			bottom: 7px
			left: $wrapper-padd-md
			right: $wrapper-padd-md

			.sort-chkb-wr
				display: flex

			.selector
				flex-grow: 1