// ----------------------------------------------------------------------
// Animation speed
// ----------------------------------------------------------------------
$t150: 150ms;
$t300: 300ms;
$t600: 600ms;
$t900: 900ms;

// ----------------------------------------------------------------------
// Sizes
// ----------------------------------------------------------------------
$screenXXL: 1920px;
$screenXL: 1599px;
$screenXX: 1500px;
$screenLX: 1400px;
$screenL: 1279px;
$screenLL: 1099px;
$screenM: 979px;
$screenMM: 859px;
$screenS: 767px;
$screenSM: 669px;
$screenSS: 579px;
$screenXS: 479px;
$screenXXS: 320px;

$minW: $screenXXS;
$maxW: 1280px;

$wrapper-padd: 30px;
$wrapper-padd-md: 20px;
$wrapper-padd-sm: 15px;

// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
// $cGreen: #16ca8c;     // Btn green
// $cGreen-d: #088e60;   // Text green
$cGreen: #0ab178;
$cGreen-d: $cGreen;
$cLime: #dcf187;      // Btn yellow
$cLime-l: #ebff9b;      // Menu yellow
$cYellow: #ffc71e;    // Icon yellow
$cRed: #fe101f;       // Text red
$cRed2: #e34235;       // Text red
$cBlack: #333;        // Text black
$cBlack-d: #201f21;   // Text black dark
$cGray: #f9f9f9;      // Bg gray

$cPrimary: $cGreen-d;
$cPrimaryL: $cGreen;
$cSecondary: $cLime;
$cSecondaryL: $cLime-l;

// ----------------------------------------------------------------------
// Fonts
// ----------------------------------------------------------------------

$ffLh: 'LifehackItalic-Regular', sans-serif;
$ffNarrow: 'PT Sans Narrow', sans-serif;
$ffHelvetica: 'Helvetica Neue', sans-serif;
$baseFont: $ffHelvetica;


// ----------------------------------------------------------------------
// Icons font-size
// ----------------------------------------------------------------------
.iconic--elephant{
	font-size: 16px;
}

.iconic--mail{
	font-size: 13px;
}

.iconic--bookmark{
	font-size: 21px;
}

.iconic--search{
	font-size: 18px;
}

.iconic--calendar{
	font-size: 12px;
}

.iconic--pin{
	font-size: 12px;
}

.iconic--star{
	font-size: 15px;
}

.iconic--target{
	font-size: 28px;
}