$header-top-h: 86px
$header-top-h-sm: 48px
$hsearch-wr-mob-size: 69px

BODY
	+max-screen($screenSS)
		padding-top: $header-top-h-sm

	&._stycky-header

		+min-screen($screenSS)

			.header-top-wr
				padding-bottom: 68px

			.header-bot-wr
				position: fixed
				z-index: 301
				top: -68px
				left: 0
				right: 0
				transform: translate3d(0px, 100%, 0px)
				transition: transform 0.4s ease 0s

.header
	background-color: #fff
	position: relative
	+max-screen($screenSS)
		position: static

.header-top-wr
	background-color: #fff
	position: relative
	z-index: 100

	+max-screen($screenSS)
		position: fixed
		left: 0
		top: 0
		right: 0
		box-shadow: 0 2px 3px rgba(0,0,0,0.2)

.header-top
	display: flex
	flex-flow: row nowrap
	justify-content: space-between
	align-items: center
	height: $header-top-h
	position: relative

	&__item

		&--left
			margin-bottom: 6px
			+max-screen($screenSS)
				flex-grow: 1
				text-align: left
				margin-bottom: 0

		&--center
			text-align: center
			margin: 0 25px
			+max-screen($screenS)
				display: none

		&--right
			text-align: right
			+max-screen($screenSS)
				line-height: 48px

	&__menu-toggle
		display: none
		height: $header-top-h-sm
		width: $header-top-h-sm
		background-color: $cPrimaryL
		color: #fff
		transition: $t150
		position: absolute
		left: 0
		top: 0
		align-items: center
		justify-content: center
		flex-direction: column
		cursor: pointer

		&:hover
			background-color: $cPrimary

		span
			display: block
			width: 22px
			height: 2px
			background-color: #fff

			& + span
				margin-top: 4px


	+max-screen($screenSM)
		.bookmark-link
			display: none

	+max-screen($screenSS)
		height: $header-top-h-sm
		margin-left: -$wrapper-padd-sm
		padding-left: $header-top-h-sm + 15px

		&__menu-toggle
			display: flex


.logo

	&__text
		@extend .lh
		font: 32px/1.3 $ffLh
		color: #000
		letter-spacing: -1px

		+max-screen($screenSS)
			font-size: 26px
			white-space: nowrap
			line-height: 48px
			padding-top: 2px

.logo-question
	text-align: center
	margin-bottom: -10px

	&__text
		font: 11px/1.2 $baseFont
		color: #a2a2a2
		display: inline-block
		vertical-align: bottom

	.icon
		color: #a2a2a2

	+max-screen($screenSS)
		display: none

.header-cabinet
	display: inline-block
	margin-left: 35px
	white-space: nowrap
	font-weight: 500

	+max-screen($screenSS)
		margin-left: 0

	&__sep
		display: inline-block
		font: 500 14px/1.2 $baseFont
		color: $cBlack
		margin: 0 2px

	&__ico-link
		margin-left: 12px
		line-height: 28px
		cursor: pointer

		.iconic
			font-size: 22px
			line-height: normal

		&--round
			display: inline-block
			vertical-align: middle
			text-align: center
			height: 28px
			width: 28px
			background-color: $cSecondary
			border-radius: 50%
			.iconic--person
				vertical-align: top
				margin-top: -1px

	&__main
		display: block

		.btn
			margin-left: 10px

		+max-screen($screenSS)
			display: none

	&__hidden
		display: none
		+max-screen($screenSS)
			display: block



.header-bot-wr
	background: #000
	//border-bottom: 1px solid #e6e6e6
	position: relative
	z-index: 98
	transform: translate3d(0px, 0, 0px)


.header-bot
	display: flex
	flex-flow: row nowrap
	justify-content: space-between
	align-items: center
	height: 68px
	position: relative

	&__nav
		flex-grow: 1
		max-width: 700px

	&__wr
		background: #000

	&__item
		flex-grow: 1

	&__search-wr
		flex-grow: 1
		padding-left: 80px

		+max-screen($screenM)
			padding-left: 40px

	+screen($screenSS + 1,$screenMM)

		&__search-wr
			width: 80px
			padding-left: 0
			flex-grow: 0
			flex-shrink: 1

	+max-screen($screenSS)
		// height: 0
		display: block

		&__search-wr
			top: -50px
			height: $hsearch-wr-mob-size
			display: block
			padding: 15px $wrapper-padd-sm
			margin: 0 (-$wrapper-padd-sm)
			background-color: #000
			transition: top $t300
			// transform: translateY(-100%)

			BODY._search-open &
				transform: translateY(0%)
				position: fixed
				left: 0
				right: 0
				top: 48px
				margin: 0



.header-nav
	margin-left: -10px
	margin-right: -10px
	+max-screen($screenSM)
		margin-left: -7px
		margin-right: -7px

	&__menu
		display: flex
		flex-flow: row nowrap
		justify-content: space-between

	&__item
		&.active,
		&._open

			> A
				background-color: $cPrimary
				color: #fff
				SPAN
					border-color: transparent

		&._open
			.submenu-mob
				display: block

	&__link
		font: 23px/68px $ffNarrow
		text-decoration: none
		padding: 0 10px
		color: #fff
		white-space: nowrap
		text-align: center
		display: block

		+max-screen($screenSM)
			padding: 0 7px

		SPAN
			border-bottom: 1px solid #4d4d4d
			display: inline-block
			line-height: 26px

		&:hover
			SPAN
				border-color: transparent

		+max-screen($screenS)
			font-size: 20px
		+max-screen($screenSM)
			font-size: 18px

	+max-screen($screenSS)
		display: none
		position: fixed
		top: $header-top-h-sm
		left: 0
		right: 0
		background-color: #000
		padding: 15px $wrapper-padd-sm
		z-index: 10


		&__menu
			flex-wrap: wrap

		&__item
			margin: 0 0 4px 0
			width: 100%
			padding-right: 0

		&__link
			text-align: left
			line-height: 2
			//display: block

		BODY._header-menu-open &
			display: block



$hsearch-size: 39px
$hsearch-br: 4px
$hsearch-padd: 0 48px 0 10px

.header-search
	width: 100%
	position: relative
	overflow: hidden
	border-radius: $hsearch-br

	&__input
		width: 100%
		border-radius: $hsearch-br
		background: #fff
		padding: $hsearch-padd
		height: $hsearch-size
		font: 500 14px/39px $baseFont
		border: 0
		&::placeholder
			color: #b5b5b5

	&__btn
		position: absolute
		right: 0
		top: 0
		width: $hsearch-size
		height: $hsearch-size
		background: #fff
		border: 0

		&--trigger
			opacity: 0
			visibility: hidden

	+screen($screenSS + 1,$screenMM)
		position: absolute
		right: 0
		top: 50%
		margin-top: -($hsearch-size/2)
		width: $hsearch-size
		border-radius: 50%
		transition: width $t600, border-radius 0.8s ease-out

		&__input
			border-radius: 50%
			width: $hsearch-size
			padding-left: 0
			padding-right: 0
			color: transparent
			transition: width $t600, border-radius 0.8s ease-out, padding $t300, color $t300, placeholder $t300

			&::placeholder
				color: transparent

		&__btn

			&--submit
				opacity: 0
				visibility: hidden

			&--trigger
				visibility: visible
				opacity: 1

		&._expanded
			transition: width $t600, border-radius $t300 ease-out

			&,.header-search__input
				width: 300px
				border-radius: $hsearch-br

			.header-search__input
				color: #000
				padding: $hsearch-padd
				transition: width $t600, border-radius $t300 ease-out, padding $t600, color $t600, placeholder $t600

				&::placeholder
					color: #b5b5b5

			.header-search__btn
				&--submit
					visibility: visible
					opacity: 1

				&--trigger
					opacity: 0
					visibility: hidden

	+max-screen($screenSS)

.header-submenu-wr

	+max-screen($screenSS)
		display: none

.header-submenu
	padding: 18px 0 10px

	&__nav
		padding: 0
		margin: 0
		list-style: none

		&:after
			content: ""
			display: table
			clear: both

		LI
			display: inline-block
			margin: 0 25px 8px 0

			&:last-child
				margin-right: 0

			&.active
				A
					color: $cPrimary

			A
				font: 18px/1.2 $ffHelvetica
				color: #000
				text-decoration: none

				+max-screen($screenMM)
					font-size: 16px

				&:hover
					color: $cPrimary

.submenu-mob
	display: none
	background-color: #f9f9f9
	list-style: none
	padding: 5px 0
	margin: 0

	&__item
		display: block
		float: none

		&.active
			.submenu-mob__link
				color: $cPrimary

	&__link
		display: block
		color: #000
		padding: 4px 7px

	+min-screen($screenSS+1)
		display: none!important

//+max-screen()